/* Visit http://www.menucool.com/responsive-slider for instructions */

#ninja-slider {    width:100%;    padding-top:22px;    padding-bottom:10px;    margin:0 auto;    overflow:hidden;    box-sizing:border-box;}
#ninja-slider.fullscreen {    background:black;}
#ninja-slider.fullscreen #ninja-slider-prev {    left: -50px; }
#ninja-slider.fullscreen #ninja-slider-next {    right: -50px;}
#ninja-slider .slider-inner {    max-width:700px;    margin:0 auto;/*center-aligned*/    font-size:0px;    position:relative;    box-sizing:border-box;}
#ninja-slider.fullscreen .slider-inner {    max-width:900px;    max-height:80%;}
#ninja-slider ul {
  box-sizing: border-box;
  height: 350px !important;
  list-style: outside none none;
  padding: 0 !important;
  position: relative;
}
#ninja-slider li {    background-color:none;  width:100%;    height:100%;    top:0;    left:0;    position: absolute;    font-size:12px;    list-style:none;    margin:0;    padding:0;    opacity:0;    overflow:hidden;    box-sizing:border-box;}
#ninja-slider li.ns-show {    opacity:1;}

/* --------- slider image ------- */  
#ninja-slider .ns-img {    background-color:rgba(0,0,0,0.3);    background-size:cover;/*Note: If transitionType is zoom, it will be overridden to cover.*/    border-radius:0px;    cursor:default;    display:block;    position: absolute;    width:100%;    height:100%;    background-repeat:no-repeat;    background-position:center center;}


/* ---------Arrow buttons ------- */   
/* The arrow button id should be: slider id + ("-prev", "-next", and "-pause-play") */ 
#ninja-slider-pause-play { display:none;}    

#ninja-slider-prev, #ninja-slider-next{    position: absolute;    display:inline-block;    width:42px;    height:56px;    line-height:56px;    top: 50%;    margin-top:-28px;    background-color:rgba(0,0,0,0.4);    background-color:#ccc\9;/*IE8 hack*/    backface-visibility:hidden;    color:white;    overflow:hidden;    white-space:nowrap;    -webkit-user-select: none;    user-select:none;    border-radius:2px;    z-index:10;    opacity:1;     font-family:sans-serif;  
    font-size:13px;    cursor:pointer;    -webkit-transition:all 0.7s;    transition:all 0.7s;}

.slider-inner:hover #ninja-slider-prev, .slider-inner:hover #ninja-slider-next {
    opacity:1;
}


#ninja-slider-prev {
    left: 0; 
}
#ninja-slider-next {
    right: 0;
}

/* arrows */
#ninja-slider-prev::before, #ninja-slider-next::before {
    position: absolute;
    top: 17px;
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border-left: 2px solid white;
    border-top: 2px solid white;
}

#ninja-slider-prev::before {
    -ms-transform:rotate(-45deg);/*IE 9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
    backface-visibility:hidden;
    right:4px;
}

#ninja-slider-next::before {
    -ms-transform:rotate(135deg);/*IE 9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
    backface-visibility:hidden;
    left:4px;
}


/*pagination num within the arrow buttons*/
#ninja-slider-prev div, #ninja-slider-next div {display:none;}


/*------ pager(nav bullets) ------*/      
/* The pager id should be: slider id + "-pager" */
#ninja-slider-pager { display:none;}


#ninja-slider-pager, #ninja-slider-prev, #ninja-slider-next, #ninja-slider-pause-play
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}





#thumbnail-slider {                            
    opacity:1;
    margin:4px auto; /*center-aligned*/
    width:100%;
    max-width:780px;
    padding:0px 40px;/*Gives room for arrow buttons*/
    box-sizing:border-box;
    position:relative;
    -webkit-user-select: none;
    user-select:none;
}



#ninja-slider.fullscreen #thumbnail-slider {    width:90%;    max-width:1120px;}

#thumbnail-slider div.inner {    /*the followings should not be changed */
    position:relative;    overflow:hidden;    padding:2px 0;    margin:0;}

 
#thumbnail-slider div.inner ul {
    /*the followings should not be changed */
    white-space:nowrap;    position:relative;    left:0; top:0;    list-style:none;    font-size:0;    padding:0;    margin:0;    float:left!important;    width:auto!important;    height:auto!important;}
#thumbnail-slider ul li {  backface-visibility: hidden;  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;  border: medium none;  box-sizing: content-box;  display: inline-block;  list-style: outside none none;  margin: 0 6px;  opacity: 1;  overflow: visible;  padding: 0;  position: relative;  text-align: center;  transform: scale(1);  transition: all 0.2s ease 0s;  vertical-align: middle;}
#thumbnail-slider ul li.active {    border-color:white;}
#thumbnail-slider li:hover {    border-color:rgba(255,255,255,0.7);}
#thumbnail-slider .thumb {  background-position: center center;  background-repeat: no-repeat;  background-size: cover;  display: block;  font-size: 0;  height: 100%;  position: absolute;  width: 100%;}

/* --------- Captions ------- */
#thumbnail-slider li > span {
    display: none;
}


/* --------- navigation controls ------- */
/* The nav id should be: slider id + ("-prev", "-next", and "-pause-play") */

#thumbnail-slider-pause-play {display:none;} /*.pause*/

#thumbnail-slider-prev, #thumbnail-slider-next {  background-color: #e0e0e0;  background-position: 50% 50%;  background-repeat: no-repeat;  color: white;  cursor: pointer;  height: 70px;  line-height: 50px;  margin: 0;  opacity: 1;  position: absolute;  top: 2px;  width: 28px;  z-index: 10;}

#thumbnail-slider-prev {
    left:0px; right:auto;
    background-image: url(../images/pro-left.png);
}

#thumbnail-slider-next {
    left:auto; right:0px;
    background-image: url(../images/pro-right.png);
}
#thumbnail-slider-next.disabled, #thumbnail-slider-prev.disabled {
    opacity:0.3;
    cursor:default;
}

/* arrows */
#thumbnail-slider-prev::before, #thumbnail-slider-next::before {
display: none;
}

#thumbnail-slider-prev::before {
    left:14px;
    -ms-transform:rotate(-45deg);/*IE9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
}

#thumbnail-slider-next::before {
    right:14px;
    -ms-transform:rotate(135deg);/*IE9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
}

/*Responsive settings*/
@media only screen and (max-width:800px){

    #ninja-slider-prev, #ninja-slider-next, #ninja-slider-pager {
        display:none;
    }
    #ninja-slider .fs-icon {
        display:none;
    }
}

/*Responsive settings*/
@media only screen and (max-width:736px){
    
    #thumbnail-slider {
        padding:0;
    }

    #thumbnail-slider-prev, #thumbnail-slider-next {
        display:none;
    }
}
