@charset "utf-8";
/* CSS Document */
@media (max-width:1400px) {

}
    
@media (max-width:1315px) {
}
@media (max-width:1300px) {
}
@media (max-width:1250px) {
}
@media (max-width:1200px) {
}
@media (max-width:1199px) {
    .responsive-tabs-container .nav > li > a {font-size: 11px;  width: 109px;}
    header .navbar-default .navbar-nav > li > a {  font-size: 13px;  padding: 6px 6px;}
.product-log li {  height: 28px;  padding: 5px 0;  width: 110px;}
.product-log li:nth-child(3) {  width: 131px;}
.header-bottom .button {  font-size: 10px;  height: 35px;  padding: 7px 8px 6px 29px;}
.header-bottom .button::before {  font-size: 14px;  height: 27px;  padding: 5px;  width: 27px;}
.header-bottom label {  font-size: 11px;}
.header-bottom {  padding: 9px 0 0;}
.form-inline .form-control {  font-size: 13px;  padding: 3px;  width: 161px;}
.language-ul li {  padding: 5px 0;}
.product-log li a {  font-size: 10px;}
.icon_bg1 {  font-size: 12px;  width: 145px;}

.icon_bg {  font-size: 12px;  width: 145px;}
.free-register .col-md-3.mt10 img {  width: 100%;}
.top_p li {  width: 23%;}
    .list-brand li {  width: 25%;}
    .product-page .select-box li {  width: 28%;}
    .seller-ul li {  margin-bottom: 10px;}
    .how-much .select-box li:nth-child(3) {  width: 44% !important;}
    .how-much .select-box li {  margin-bottom: 5px;  width: 27% !important;}
    .how-much ul.item-price li {  padding: 3px 12px;}
    .how-much1{width: 100%;}
}
    
@media (max-width:1024px) {
	
    
    
}
	/** max-width:991px **/
@media (max-width:991px) {
	footer p.text-right {  float: right;}.footer-logo {  float: right;}
	.free-register .col-md-3.mt10 img {  display: block;  margin: 20px auto auto;  text-align: center;  width:auto;}
.top_p li {  width: 30%;}
.header-bottom .button {  height: 27px;  margin-bottom: 10px;  display: block;}
.product-log li a {  font-size: 13px;}
.product-log li {  height: 39px;  width: 160px;  padding: 12px 0;}
.product-log li:nth-child(3) {  width: 180px;}
header .navbar-default .navbar-nav > li > a {  font-size: 14px;  padding: 6px 24px;}
.navbar-collapse {  padding-left: 0;  padding-right: 0;  margin-bottom: 10px;}
header .form-inline .form-control {  width: 250px;}
header .form-inline label br{display:none;}
 .search_wb .col-sm-3, .search_wb .col-sm-6 {margin: 0; padding: 0 0px; float: inherit;}
    .listing-panel .col-sm-4 { width: 33.3333%;}
    .listing-panel .col-md-10.col-sm-8 {  width: 66.6667%;}
.list-brand li {  width: 50%;}
    .inner-search {  margin: 0 0 7px;  padding: 0 0 0 15px;}
    .product-tabs .resp-tabs-list li::before {  height: 39px;}
    .product-tabs .resp-tabs-list li::after {  height: 39px;}
    .product-tabs .resp-tabs-list li {  font-size: 11px;  margin: 0 31px;  padding: 11px 8px;}
    .product-tabs .resp-tabs-list li:first-child {padding-left: 12px !important;}
    .product-tabs .resp-tabs-list li.resp-tab-active:first-child {padding-left: 12px !important;}
    .other-similer .other-image {  margin-bottom: 10px;}
    .how-much .select-box li:nth-child(3) {  width: 38% !important;}
    .how-much .select-box li {  margin-bottom: 5px;  width: 20% !important;}
    .product-tabs .resp-tabs-list li {
  font-size: 11px;
  margin: 0 26px;
  padding: 11px 5px;
}
    .product-page .select-box li {
  width: 21%;
}
    .seller-ul li:nth-child(3) {
  padding: 0 3px 0 20px;
  width: 259px;
}
.list-brand .col-sm-3 {
  width: 50%;
}
}
/** max-width:991px **/

/** max-width:768px **/
@media (max-width:768px) {
    h2.resp-accordion {
        background: #7ac0c8 none repeat scroll 0 0;
        border: medium none;
        color: #fff;
        font-size: 13px;
        margin: 0 0 5px;
        padding: 6px 15px;
    }
    .resp-tabs-container {
        background: transparent none repeat scroll 0 0;
        clear: left;
        padding: 0;
    }
    .resp-arrow {
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 12px solid #fff;
        float: right;
        height: 0;
        margin-top: 12px;
        width: 0;
    }
    h2.resp-accordion:first-child {
        border-top: medium none !important;
    }
    .b_search_cont {
        margin: 0 auto !important;
    }
}
/** max-width:768px **/

    /** max-width:767px **/

@media (max-width:767px) {
header .col-sm-3 img {  width: 240px;  position:absolute; z-index: 9999;}
header .form-inline {  display: inline-block;  margin-top: 20px;}
header .form-inline .form-control {  display: inline-block; }
.header-bottom label {  font-size: 14px;  margin-bottom: 10px;}
.header-bottom{text-align:center;}
.product-log li {  background-size: 100% 100%;  height: 36px;  padding: 12px 0;  width: 32%;}
.product-log li:nth-child(3) {  width: 33%;}
.product-log {  float: right;  list-style: outside none none;  margin: 0;  padding: 0;  width: 100%;}
.navbar-default .navbar-toggle .icon-bar {  background-color: #df7b2b;}
.navbar-default .navbar-toggle {  border: medium none;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {  background-color: transparent;}
    .search_bg input, .search_bg select {  font-size: 13px;  height: 35px;  margin: 0 0 5px;  width: 100%;        border-radius: 5px;}
    .search_wb .form-control {border: none;  height: 35px;        border-radius: 5px;}
    .search_wb {  background: transparent none repeat scroll 0 0;}
    .banner img {  height: auto;}
    .b_search_cont {  color: #000;        position: inherit;}
    .banner_h {  color: #000;  display: table;  font-size: 23px;  margin: auto;  text-align: center;}
    .search_btn {  height: 35px;  width: 100%;  margin-top: 7px;}
    .search_wb .col-sm-3, .search_wb .col-xs-6 {  float: left;  margin: 0;  padding: 7px 15px;}
    .search_bg {  padding: 20px;}
    .arrow {  display: none;}
    .footer-logo {  margin-top: 10px;  max-width: 250px;}
    .language-ul {  margin-top: 23px;}
    .icon_bg {  font-size: 12px;  width: 33%;}
    .icon_bg1 {  font-size: 12px;  width: 33%;}
    .top_p li {  width: 46%;}
    .listing-panel .col-sm-4 {  width: 100%;}
    .listing-panel .col-md-10.col-sm-8 {  width: 100%;}
    .list-brand li {  width: 50%;}
    .inner-search.search_bg select {  height: 35px;}
    .inner-search .search_wb {  border: medium none;}
    .inner-search .search_wb .form-control {  border: medium none !important;  height: 35px;}
    .pagination > li > a, .pagination > li > span {
  font-size: 11px !important;
  line-height: 21px !important;
  margin-left: 3px;
  padding: 0 9px 1px;
}
    .product-page .select-box li {
  margin-bottom: 5px;
  width: 41%;
}
    .seller-ul li {
  margin-bottom: 10px;
  width: 44%;
}
    .how-much .select-box li {
  margin-bottom: 5px;
  width: 29% !important;
}


}
/** max-width:767px **/

/** max-width:640px **/

.btn-post {
  background: #7ac0c8 none repeat scroll 0 0;
  border: 1px solid #7ac0c8;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  height: 65px;
  padding: 16px;
  width: 100%;
}
/** max-width:640px **/

/** max-width:540px **/

.btn-post {
  background: #7ac0c8 none repeat scroll 0 0;
  border: 1px solid #7ac0c8;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  height: 65px;
  padding: 16px;
  width: 100%;
}
/** max-width:640px **/

/** max-width:560px **/

@media (max-width:560px) {
    .language-ul {  margin-top: 43px;}
    header .form-inline .form-control {  display: block;}
    .second-inner .pull-left {  float: left;  width: 100%;  text-align: center;  margin-bottom: 10px;}
}
/** max-width:560px **/

/** max-width:480px **/
@media (max-width:480px) {
.top_p li {  display: block;  float: inherit;  margin: 15px auto auto;  width: 80%;}
.top_p .col-sm-3 { display: block;  float: inherit;  margin: 15px auto auto;  width: 80%;}
.sign-section li {  display: inline;  padding: 5px;}
.sign-section li:last-child a {  font-size: 0;}
.sign-section {  float: none !important;  list-style: outside none none;  text-align: center;}
header .form-inline .form-control {  width: 210px;}
header .col-sm-3 img {  position: absolute;  width: 180px;}
.product-log li:nth-child(1) {  background: #FEDA52 none repeat scroll 0 0;}
.product-log li:nth-child(2) {  background: #1E2B3B none repeat scroll 0 0;}
.product-log li {  height: auto;  padding: 12px 0;  width: 32%;  border-top-left-radius:5px; border-top-right-radius:5px;}
.product-log li:nth-child(3) {  background: #FAB241 none repeat scroll 0 0;  width: 32%;}
    .icon_bg {  width: 100%;}
    .icon_bg1 {  width: 100%;}
.search_bg .col-xs-6 {  width: 100%; padding: 0 15px;}
    .search_btn {  margin-top: 0;}
    .product-log li {  padding: 7px 0;}
    .product-log li a {  font-size: 8px;}
   .header-bottom .col-xs-4 {  display: inline-block;  float: inherit;  margin: auto;  text-align: center;  width: 40px;}
    .header-bottom .button {  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;  box-shadow: none; padding:0;}
.header-bottom .button span {  display: none;}
.header-bottom .button::before {  display: block;  left: 0;  margin: auto;  right: 0;}
    .sign-section li a {  font-size: 13px;  padding: 0 8px;}
    .list-brand li {  width: 100%;}
    .listing-panel #accordion a {  font-size: 12px;  line-height: 20px;}
    .listing-panel .well ul {  padding-left: 0px;}
    .product-list-page .filters li {  font-size: 13px;  padding: 0 7px;}
    .listing-panel .well li a {  font-size: 12px;  line-height: 25px;}
    .product-page .select-box li {
  margin-bottom: 5px;
  width: 100% !important;
}
    .seller-ul li:nth-child(3) {
  padding: 0 3px 0 20px;
  width: 70%;
}
    .seller-ul li {
  border: medium none !important;
  margin-bottom: 10px;
}
    .how-much .select-box li {
  margin-bottom: 5px;
  width: 100% !important;
}
    .how-much .select-box li:nth-child(3) {
  width: 100% !important;
}
}
/** max-width:480px **/

/** max-width:414px **/
@media (max-width:414px) {
.free-register .col-md-3.mt10 img {  width: 100%;}
.pagination > li > a, .pagination > li > span {  font-size: 10px !important;  line-height: 19px !important;  margin-left: 3px;  padding: 0 7px 0px;}
    .btn-post {
  background: #7ac0c8 none repeat scroll 0 0;
  border: 1px solid #7ac0c8;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  height: 65px;
  padding: 16px;
  width: 100%;
}
}
/** max-width:414px **/
@media (max-width:360px) {

.seller-ul li:nth-child(3) {
  padding: 0;
  width: 100%;
}
    .resp-arrow {

  margin-top: 5px;
 
        
}
    h2.resp-accordion {
  
  padding: 6px 10px;
        line-height: 20px;
}
    .seller-ul li:nth-child(4) {
  width: 100% !important;
}
    .btn-post {
  background: #7ac0c8 none repeat scroll 0 0;
  border: 1px solid #7ac0c8;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  height: 65px;
  padding: 16px;
  width: 100%;
}
}

@media (max-width:320px) {

}

/*add media css*/

@media (max-width:1199px) {
    .product-plug .bxpager-slid .bx-wrapper .bx-controls-direction a {  width: 24px;}
    .product-plug .bxpager-slid .bx-wrapper .bx-prev {  left: 0;}
    .product-plug .bxpager-slid .bx-wrapper .bx-next {  right: 0;}
    .product-plug .bx-slid .bx-wrapper .bx-viewport {  height: 310px !important;}
}

@media (max-width:991px) {
    .product-plug .bx-slid .bx-wrapper .bx-viewport img {  height: 100% !important;  margin: auto;  object-fit: cover;}
    .product-plug .bxpager-slid .bx-wrapper .bx-next {  right: -29px;}
    .product-plug .bxpager-slid .bx-wrapper .bx-prev {  left: -29px;}
}


@media (max-width:480px) {
    .product-plug .bxpager-slid .bx-wrapper .bx-controls-direction a {  display: none;  width: 24px;}
    .product-plug .bx-slid .bx-wrapper .bx-viewport {  height: auto !important;}
}
/*add media css*/
