@charset "utf-8";
/* CSS Document */
*{ padding:0px; margin:0px;} 

/*@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700);*/
/*@import url("http://weloveiconfonts.com/api/?family=entypo");*/


body{font-family:Tahoma, Geneva, sans-serif; font-size:12px; }

a{outline: inherit !important;}
button{outline: inherit !important;}

h1 {
  background: rgba(255, 255, 255, 0.7) none repeat scroll 0 0;
  border-radius: 5px;
  color: #262626;
  display: block;
  font-size: 61px;
  font-weight: bold;
  line-height: 35px;
  margin: 440px auto auto;
  padding: 20px;
  text-align: left;
  text-transform: uppercase;
  width: 700px;
  height: 139px;
}
h1 span{font-size: 32px; color: #262626; text-transform: lowercase; }

h2 {
color: #080808;
font-size: 60px;
font-weight: bold;
line-height: 33px;
margin-bottom: 20px;
}
h2 span {
color: #a0751b;
font-size: 37px;
margin-left: 100px;
font-weight: normal;
}

p{font-size: 12px; color: #505050; line-height: 20px; margin-bottom: 18px; text-align: justify;}


header .col-sm-3 img {
  width: 100%;
}
header {
  position: relative;
}


header .navbar-default {  background-color: transparent;  border: medium none;  border-radius: 0;  margin: 0;  min-height: auto;}
header .navbar-default .navbar-nav > li > a {color:#292929; font-size:14px; padding:10px 11px; transition: all 0.3s ease-out 0s; -webkit-transition: all 0.3s ease-out 0s;
-moz-transition: all 0.3s ease-out 0s; -o-transition: all 0.3s ease-out 0s; -ms-transition: all 0.3s ease-out 0s;
border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: #df7b2b;
  color: #fff;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  background-color: #df7b2b;
  color: #fff;
}
.sign-section{list-style:none;}
.sign-section li{display:inline-block; padding:0 5px; transition: all 0.3s ease-out 0s; -webkit-transition: all 0.3s ease-out 0s;
-moz-transition: all 0.3s ease-out 0s; -o-transition: all 0.3s ease-out 0s; -ms-transition: all 0.3s ease-out 0s;}
.sign-section li .btn-sign {
  background: #df7b2b none repeat scroll 0 0;
  border: 1px solid #df7b2b;
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  padding: 3px 20px 5px;
    transition: all 0.3s ease-out 0s; -webkit-transition: all 0.3s ease-out 0s;
-moz-transition: all 0.3s ease-out 0s; -o-transition: all 0.3s ease-out 0s; -ms-transition: all 0.3s ease-out 0s;
}

.sign-section li .btn-sign:hover, .sign-section li .btn-sign:active, .sign-section li .btn-sign:focus {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #df7b2b;
  color: #292929;
}
.sign-section li a{color:#292929; font-size:14px; padding: 0 10px; text-decoration: none;
    transition: all 0.3s ease-out 0s; -webkit-transition: all 0.3s ease-out 0s;
-moz-transition: all 0.3s ease-out 0s; -o-transition: all 0.3s ease-out 0s; -ms-transition: all 0.3s ease-out 0s;
}
.sign-section li a:hover{color:#df7b2b;}
.sign-section li:last-child a{color:#292929; padding: 0;}

.sign-section li .btn-sign-up{background:#fff; border:1px solid #df7b2b; color:#292929; border-radius:5px; }
.sign-section li .btn-sign-up:hover, .sign-section li .btn-sign-up:active, .sign-section li .btn-sign-up:focus{background:#df7b2b; border:1px solid #df7b2b; color:#fff;}

header .form-inline label {
  font-weight: 400;
  margin-bottom: 0;
  padding-top: 0;
  vertical-align: middle;
}
header .form-inline{display:inline;}
.language-ul{list-style:none; float:right;}
.language-ul li{display:inline-block; padding:5px;}
.sign-section li:last-child{border-left:1px solid #ccc;}
.header-bottom {
  background: #fff6ef none repeat scroll 0 0;
  padding: 15px 0 0;
}


header .badge {
  background-color: #DF7B2B;
  border-radius: 50%;
  color: #fff;
  font-size: 11px;
  margin-left: -16px;
  margin-top: -20px;
  padding: 3px 6px;
  position: relative;
  z-index: 22222;
}
header hr {
  margin-bottom: 10px;
  margin-top: 4px;
}
.header-bottom .button {
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #ffffff 0%, #e6e6e6 100%) repeat scroll 0 0;
  border-radius: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  color: #555;
  cursor: pointer;
  font-family: "Quattrocento Sans",sans-serif;
  font-size: 10px;
  font-weight: 400;
  height: 35px;
  padding: 10px 18px 10px 46px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: auto;
}

.product-log{list-style:none; float:right; margin:0; padding:0;}
.product-log li {
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: inline-block;
  height: 35px;
  padding: 9px 0;
  text-align: center;
  width: 140px;
    transition: all 0.3s ease-out 0s; -webkit-transition: all 0.3s ease-out 0s;
-moz-transition: all 0.3s ease-out 0s; -o-transition: all 0.3s ease-out 0s; -ms-transition: all 0.3s ease-out 0s;
}

.header-bottom .col-sm-3 {
  padding: 0 5px;
}

.free-register .col-md-3.mt10 img {
  width: 100%;
}



.header-bottom .button span {
  font-size: 10px;
  text-transform: none;
  color: #aaa;
}

.header-bottom .button::before {
  border-radius: 20px;
  bottom: 0;
  color: #fff;
  content: "";
  font-family: "entypo";
  font-size: 16px;
  height: 35px;
  left: 0;
  padding: 6px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 35px;
}

/*.header-bottom .button.fb:before {*/
  /*content: '\f30c';*/
  /*background: linear-gradient(to bottom, #4477cc 0%, #2f5fae 100%);*/
/*}*/

/*.header-bottom .button.tw:before {*/
  /*content: '\f309';*/
  /*background: linear-gradient(to bottom, #00ccff 0%, #00a3cc 100%);*/
/*}*/

/*.header-bottom .button.gp:before {*/
  /*content: '\f30f';*/
  /*background: linear-gradient(to bottom, #dd4433 0%, #bd2f20 100%);*/
/*}*/

.header-bottom .button:hover {
  text-shadow: 0 0 10px #fff;
}

.header-bottom label{font-size:12px; color:#969595; font-weight:400;}

.second-inner li {border-left: 1px solid #ccc;}
.second-inner li:first-child {border-left:none;}

.welcome-name h6{color: #292929; font-size: 12px; margin:5px 0;}
.welcome-name h6 span{color: #7ac0c8; font-size: 15px;}

/* homebanner css start here */

.m_container{ width:100%;}
.banner{ width:100%; position:relative;}
.banner img {
  height: 360px;
  max-width: 100%;
  object-fit: cover;
  object-position: center center;
  width: 100%;
}
.b_search_cont {
  color: #fff;
  left: 0;
  margin: auto;
  max-width: 846px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}
.search_wb {
  background: #fff none repeat scroll 0 0;
  border-radius: 5px;
  padding: 0px;
}
.search_bg .form-control {
  background-color: #fff;
  background-image: none;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #555;
  display: block;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857;
  padding: 6px 12px;
  width: 100%;
    box-shadow: none;
}
.search_bg input, .search_bg select {
  -moz-appearance: none; -webkit-appearance: none; appearance:none; 
  background-position: 92% 50%;
  background-repeat: no-repeat;
  border: 1px solid #ffffff;
  color: #afafaf;
  font-family: inherit;
  font-size: 14px;
  height: 47px;
  line-height: inherit;
  margin: 0;
  padding: 8px;
  width: 100%;
  border-radius: 5px;
}

.c-select{background-image:url(../images/arrow-down1.png);}
.select_bg{background-color: #ededed;
    border-radius: 5px;
    color: #000 !important;
	background-image:url(../images/arrow-down2.png);}

.search_wb .col-sm-3, .search_wb .col-sm-6 {
  float: left;
  margin: 0;
  padding: 0;
}
.search_btn{
  background: url(../images/search_icon.png) center #df7b2b no-repeat ;
  border:1px solid #df7b2b;
  border-radius: 5px;
  height: 47px;
  width: 60px;
}
.search_wb .form-control{border:none; border-radius:0; border-left:1px solid #ccc; height:47px;}




.font_22{ font-size:22px;}
.banner_h{ font-family:Tahoma, Geneva, sans-serif; font-size:50px; color:#fff; font-weight:bold;}
.mt20{ margin-top:20px;}
.mt10{ margin-top:10px;}
.search_bg {
  background: rgba(0, 0, 0, 0) url("../images/search_bg.png") repeat scroll 0 0;
  margin-top: 20px;
  padding: 37px 56px 37px 45px;
}
.icon_bg{ background:#7ac0c8; color:#fff; text-align:center; padding:7px; font-size:12px; font-weight:bold; float:left; width:170px;}
.icon_bg1{ text-align:center; padding:7px; font-size:12px; font-weight:bold; float:left;width:170px;}
.heading_bg {
  background-image: url("../images/head_bg.png");
  background-position: 50% 66%;
  background-repeat: repeat-x;
}
h3 span{ font-size:16px; font-weight:bold; color:#df7b2b; background:#fff; padding-right:20px;padding-left:10px; }

.top_p{ width:100%}
.top_p li{ width:148px; height:212px; float:left; list-style:none; margin:9px; text-align:center; font-size:12px;  padding-top:20px; transition: all 0.3s ease-out 0s; -webkit-transition: all 0.3s ease-out 0s;
-moz-transition: all 0.3s ease-out 0s; -o-transition: all 0.3s ease-out 0s; -ms-transition: all 0.3s ease-out 0s;}
.top_p li span{ height:63px; display:block; padding-top:10px;}
.top_p li p{text-align:center; font-size:12px; font-weight:bold; }
.grey_bg{ background:#f2f2f2; border-radius:2px;}
.top_p a{ cursor:pointer; color:#3f3f3f; text-decoration: none;}
.top_p li:hover { cursor:pointer;box-shadow: 0px 0px 3px 0px #888888;}
.hb_con{ font-size:12px; text-align:center; margin:0px auto;}
.txt_c{ text-align:center;}
.mt_50{ margin-top:50px;}
.txt_b{ font-weight:bold;}
.arrow{left:100px; position:inherit}



footer{background:#f0f0f0; padding:30px 0; margin-top:40px;}
footer h4{color:#df7b2b; font-size:14px; font-weight:600;}
footer ul{ list-style:none;}
footer ul li a{color:#767676; font-size:12px; line-height:23px; transition: all 0.3s ease-out 0s; -webkit-transition: all 0.3s ease-out 0s;
-moz-transition: all 0.3s ease-out 0s; -o-transition: all 0.3s ease-out 0s; -ms-transition: all 0.3s ease-out 0s;}
footer ul li a i {  color: #7ac0c8;  font-size: 15px !important;  text-align: center;  width: 20px;}
footer p.text-right{margin-top:30px;}
.social-ul li a{ color: #7ac0c8; font-weight:600; }
footer p{color:#767676; font-size:12px; line-height:normal; text-align:left;}
footer ul li a:hover, footer ul li a:focus{color:#df7b2b; text-decoration:none;}
.footer-logo {max-width:250px;}
.footer-logo img {  width: 100%;}

/*listing-page-css*/

.inner-search.search_bg input { padding:0 8px;  height: 30px;  border: none;}
.inner-search.search_bg select { padding:0 8px;  height: 30px;  border: none;}
.inner-search .search_wb .form-control {  height: 30px;  border: none; border-left: 1px solid #ccc !important; box-shadow: none;}
.inner-search .search_btn {  background: #df7b2b url("../images/search_icon.png") no-repeat scroll center center / 18px auto;  height: 35px;}
.inner-search {  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;  margin: -7px 0 0;  padding: 0 0 0 15px;}
.inner-search .search_wb {  border: 1px solid #ccc;  border-radius: 5px;  padding: 2px;}
.breadcrumb { background: none;  margin-bottom: 0px;  padding:10px 0px;}
.breadcrumb li a{color: #afafaf;    text-decoration: none;}
.breadcrumb > li + li::before {  color: #333;  content: "> ";  padding: 0 1px;}
.breadcrumb > .active {  color: #c8966e;}
.listing-panel .well{padding: 10px 20px 20px;}
.listing-panel .well h4{color: #df7b2b; font-size: 16px;  margin-bottom: 10px; font-weight: 600;}
.listing-panel .well h5{color: #585757; font-size: 14px;  font-weight: 600;}
.listing-panel .well hr{margin-bottom: 5px; margin-top: 5px;}
.listing-panel .well ul{list-style: none; padding-left: 15px;}
.listing-panel .well li a{color: #676767; font-size: 13px; line-height: 32px; text-decoration: none;}
.listing-panel #accordion  a{color: #676767; font-size: 13px; line-height: 32px; text-decoration: none;}
.listing-panel .col-md-10 {  width: 80.333%;}
.listing-panel .panel-group .panel {  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;  border: medium none;  border-radius: 0;  box-shadow: none;  margin-bottom: 0;}
.listing-panel .panel-collapse.collapse.in li a:hover{color: #df7b2b !important; font-weight: 600;}
.listing-panel .panel-collapse.collapse.in li a.active{color: #df7b2b !important; font-weight: 600;}
.listing-panel .col-md-2 {  width: 19.667%;}
.listing-panel #accordion  a[aria-expanded="true"]{color: #4699a3;}
/*.min-max{margin-bottom: 25px;}*/
/*.min-max .col-xs-5:first-child{padding-right: 0;}*/
/*.min-max .col-xs-2{  font-size: 14px;  padding: 7px 0 0;  text-align: center;}*/
/*.min-max .col-xs-5:last-child{padding-left: 0;}*/
.product-list-page .filters{margin-bottom: 0;}
.product-list-page .filters li {font-size: 14px; display: inline-block; padding: 0 10px; color: #afafaf;}
.product-list-page .filters li a {font-size: 12px; color: #afafaf; transition: all 0.3s ease-out 0s; -webkit-transition: all 0.3s ease-out 0s;
-moz-transition: all 0.3s ease-out 0s; -o-transition: all 0.3s ease-out 0s; -ms-transition: all 0.3s ease-out 0s;}
.product-list-page .filters li a:hover {color: #782f4a}
.list-brand{display: inline-block; padding: 0 !important;}
.list-brand li {  border-radius: 5px;  box-shadow: none !important;  margin: 0;  padding: 10px;  text-align: center;  width: 20%;  height: auto;}
.list-brand li .product-lst{  background: #fff none repeat scroll 0 0;  border-radius: 5px;  padding: 10px 0 0; transition: all 0.3s ease-out 0s; -webkit-transition: all 0.3s ease-out 0s; -moz-transition: all 0.3s ease-out 0s; -o-transition: all 0.3s ease-out 0s; -ms-transition: all 0.3s ease-out 0s;}
.list-brand li .product-lst:hover{ box-shadow: 0 0 3px 0 #888888;}
.list-brand li .cate-list{background: #7ac0c8; padding: 5px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;}
.list-brand li p{color: #3f3f3f !important; font-size: 12px; font-weight: 400; padding: 0 10px;}
.list-brand li h6 {margin: 0; margin-bottom: 15px;}
.list-brand li h6 a{color: #df7b2b !important; font-size: 12px; font-weight:600;}
.cate-list > ul {  display: inline-block; padding: 0 !important;}
.cate-list > ul li {  height: auto !important;  padding: 0 0px !important;  float: inherit !important;  display: inline-block;    border-radius: 0 !important;  margin: 0 !important;  width: auto !important;}
.cate-list > ul li a{  padding: 2px 10px !important;    border-right: 1px solid #48abb6;}
.cate-list > ul li:last-child a{border-right: 0;}
.pagination > li > a, .pagination > li > span {background-color: #fff;border: medium none;  border-radius: 5px;  color: #afafaf !important;  font-size: 14px !important;  line-height: 26px !important;  margin-left: 5px;  padding: 0 12px 2px; transition: all 0.3s ease-out 0s; -webkit-transition: all 0.3s ease-out 0s;
-moz-transition: all 0.3s ease-out 0s; -o-transition: all 0.3s ease-out 0s; -ms-transition: all 0.3s ease-out 0s;}
.pagination {  border-radius: 4px;  display: table;  margin: auto;  padding-left: 0;    margin-top: 10px;}
.pagination > li{transition: all 0.3s ease-out 0s; -webkit-transition: all 0.3s ease-out 0s;
-moz-transition: all 0.3s ease-out 0s; -o-transition: all 0.3s ease-out 0s; -ms-transition: all 0.3s ease-out 0s;}
.pagination > li:first-child > a, .pagination > li:first-child > span {  background: #e2843a none repeat scroll 0 0;  color: #fff !important;}
.pagination > li:last-child > a, .pagination > li:last-child > span {  background: #e2843a none repeat scroll 0 0;   color: #fff !important;}
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {  background-color: #7ac0c8;  color: #fff !important;  z-index: 2;}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {  background-color: #7ac0c8 !important;  border-color: none;  color: #fff !important;  cursor: default;  z-index: 3;}
/*listing-page-css*/



/*product-page-css*/

.other-similer .other-image{width: 49%; display: inline-block; text-align: center; vertical-align: middle;} 
.other-similer .other-image img{max-width: 100%; margin: auto; display: block;}
.other-similer .other-para{width: 49%; display: inline-block; vertical-align: middle;}
.other-similer .other-para h6 a{color: #e2843a; font-size: 12px; font-weight: 600;}

.shipping-tabs,.product-tabs{
padding: 10px 35px;
background: -moz-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(242,242,242,0.59) 41%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(242,242,242,0.59) 41%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(242,242,242,1) 0%,rgba(242,242,242,0.59) 41%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */}
.shipping-tabs .resp-tabs-list li ,.product-tabs .resp-tabs-list li {  background: #7ac0c8 none repeat scroll 0 0;  border: medium none;  color: #fff;  font-size: 14px;  font-weight: bold;  margin: 0 36px;  padding: 11px 15px;  position: relative;}
.shipping-tabs .resp-tabs-list li::before, .product-tabs .resp-tabs-list li::before {  background-image: url("../images/amazone_l.png");    background-repeat: no-repeat;  content: "";  height: 44px;  left: -30px;  position: absolute;  top: -1px;  width: 30px;}
.shipping-tabs .resp-tabs-list li::after,.product-tabs .resp-tabs-list li::after {  background-image: url("../images/amazone_r.png");    background-repeat: no-repeat;  content: "";  height: 44px;  right: -30px;  position: absolute;  top: -1px;  width: 30px;}
.shipping-tabs .resp-tab-active, .product-tabs .resp-tab-active {  background-color: #fff !important;color: #6f6f6f !important;      padding: 12px 14px 11px !important;    border: none !important;}
.shipping-tabs .resp-tab-active:before, .product-tabs .resp-tab-active:before {  background-image: url("../images/amazone_l-white.png") !important;}
.shipping-tabs .resp-tab-active:after, .product-tabs .resp-tab-active:after {  background-image: url("../images/amazone_r-white.png") !important;}
.shipping-tabs .resp-tab-content, .product-tabs .resp-tab-content {  border: 1px solid #fff; padding: 25px;}
.shipping-tabs .resp-tab-content p, .product-tabs .resp-tab-content p {  color: #9b9b9b;  font-size: 13px;  line-height: 22px;  margin-bottom: 18px;  text-align: left;}
.product-tabs .resp-tabs-list li:first-child {  border-top-left-radius: 10px;  margin-left: 0;  padding-left: 26px !important;}
.product-tabs .resp-tabs-list li:first-child:before{display: none;}
.product-plug {background: #f2f2f2; padding: 20px;}
.product-plug h3 span {  background: #f2f2f2 none repeat scroll 0 0;}
.product-plug h2{color: #141414; font-size: 16px; font-weight: 400; line-height: normal; margin: 0; margin-top: 10px;}
#ninja-slider-prev, #ninja-slider-next {  display: none;}
.product-page{margin-top: 10px;}
.product-page .breadcrumb {  margin-bottom: 0;  padding: 0;}
.product-page  .select-box {  list-style: outside none none; margin: 0;}
.product-page .select-box li {  display: inline-block;  width: 21%;  padding: 0 4px; vertical-align: middle;}
.product-page  .select-box li:nth-child(3){  width: 13%;}
.product-page  .select-box .form-control { appearance: none;  -moz-appearance: none;  -webkit-appearance: none;  background-image: url("../images/arrow-down1.png");  background-position: 94% 50%;  background-repeat: no-repeat;  border: 1px solid #ccc;  box-shadow: none;  color: #9f9f9f;  font-size: 13px;  height: 37px;  padding: 6px 11px 6px 6px;  width: 100%;}
.product-page  .select-box .btn.btn-cart1 {  background: #df7b2b none repeat scroll 0 0;  border: 1px solid #df7b2b;  color: #fff;  font-weight: bold;  height: 37px;  margin: 0;  padding: 0;  vertical-align: inherit;  width: 100%;        transition: all 0.3s ease-out 0s; -webkit-transition: all 0.3s ease-out 0s;
-moz-transition: all 0.3s ease-out 0s; -o-transition: all 0.3s ease-out 0s; -ms-transition: all 0.3s ease-out 0s;}
.product-page  .select-box .btn.btn-cart1 img:last-child {display: none;}
.product-page  .select-box .btn.btn-cart1:hover img:first-child, .product-page  .select-box .btn.btn-cart1:active img:first-child, .product-page  .select-box .btn.btn-cart1:focus img:first-child {display: none !important;}
.product-page  .select-box .btn.btn-cart1:hover img:last-child, .product-page  .select-box .btn.btn-cart1:active img:last-child, .product-page  .select-box .btn.btn-cart1:focus img:last-child {display: inline-block;}
.product-page  .select-box .btn.btn-cart1:hover, .product-page  .select-box .btn.btn-cart1:active, .product-page  .select-box .btn.btn-cart1:focus {  background: #fff none repeat scroll 0 0;  border: 1px solid #df7b2b;  color: #df7b2b;}
.product-page .select-box h5 {text-align: center;}
.product-page .select-box h5 a{color: #782f4a;font-size: 13px;text-align: center;text-decoration: none;}
.product-plug hr {  margin-bottom: 10px;  margin-top: 10px; border-color: #e2e2e2;}
.how-much{background: #e2e2e2; padding: 10px 15px 5px; border-radius: 5px;}
.how-much h4{color: #782f4a; font-size: 20px; font-weight: 600; margin: 0; margin-bottom: 10px;}
.how-much .form-control1{background-image: none !important; color: #555555 !important;}
.how-much .select-box li:nth-child(3) {  width: 35% !important;}
.how-much .select-box li {  width: 21% !important;}
.how-much .select-box li .form-control{ color: #555555 !important; font-weight: bold; font-size: 12px !important; height: 34px !important;}
.how-much .select-box li .btn-cart1{background: #782f4a !important; border: 1px solid #782f4a !important; height: 34px !important;}
.how-much .select-box li .btn-cart1:hover, .how-much .select-box li .btn-cart1:active, .how-much .select-box li .btn-cart1:focus{background: #fff !important;
border: 1px solid #782f4a !important; color: #782f4a !important;}
.product-plug p{margin-bottom: 5px;}
.how-much .select-box li .form-control::-webkit-input-placeholder {color: #555555 !important;}
.how-much .select-box li .form-control:-moz-placeholder { color: #555555 !important;}
.how-much .select-box li .form-control::-moz-placeholder {  color: #555555 !important;}
.how-much .select-box li .form-control:-ms-input-placeholder { color: #555555 !important;}
.how-much p {font-size: 11px; color: #555555; margin: 5px 2px;}
.how-much ul.item-price {background: #fff; border-radius: 5px; padding: 5px;}
.how-much ul.item-price li{list-style: none; display: inline-block; padding: 0 13px;}
.how-much ul.item-price li a{color: #df7b2b;}
.how-much ul.item-price {font-size: 11px; color: #555555;}
.smartpay li {  display: inline-block;  list-style: outside none none;  margin-right: 20px;  vertical-align: middle;}
.smartpay li a{color: #782f4a; font-size: 13px;}

.smartpay fieldset {  margin: 4px 0 0;  padding: 0;}
/****** Style Star Rating Widget *****/
.smartpay .rating {   border: none;  float: left;}
.smartpay .rating > input { display: none; } 
.smartpay .rating > label::before {  content: "";  display: inline-block;  font-family: FontAwesome;  font-size: 17px;  margin: 0 2px;}
.smartpay .rating > .half:before {   content: "\f089";  position: absolute;}
.smartpay .rating > label {   color: #adadad;  float: right; }
/***** CSS Magic to Highlight Stars on Hover *****/
.smartpay .rating > input:checked ~ label, /* show gold star when clicked */
.smartpay .rating:not(:checked) > label:hover, /* hover current star */
.smartpay .rating:not(:checked) > label:hover ~ label { color: #f5be2c;  } /* hover previous stars in list */
.smartpay .rating > input:checked + label:hover, /* hover current star when changing rating */
.smartpay .rating > input:checked ~ label:hover,
.smartpay .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.smartpay .rating > input:checked ~ label:hover ~ label { color: #f5be2c;  } 

.seller-ul li{list-style: none; display: inline-block; vertical-align: middle; text-align: center;}
.seller-ul li:nth-child(1), .seller-ul li:nth-child(2) {  border-right: 1px solid #ccc;  padding: 0 20px 0 5px;}
.seller-ul li:nth-child(3) {  padding: 0 3px 0 20px;  width: 208px;}
.seller-ul li textarea{height: 65px; resize: none; width: 100%; min-width: 100%;}
.seller-ul li h4{color: #782f4a; font-size: 16px; font-weight: 400; margin: 0;}
.seller-ul li h5{color: #9b9b9b; font-size: 12px; font-weight: 400; margin: 0;}
.seller-ul li h6 a{color: #7ac0c8; font-size: 12px;}
.btn-post {  background: #7ac0c8 none repeat scroll 0 0;  border: 1px solid #7ac0c8;  border-radius: 5px;  color: #fff;  font-size: 14px;  font-weight: bold;  height: 65px;  padding: 16px;}
.product-plug .heading_bg {  margin: 5px 0 0;}
/*product-page-css*/

/*contact css*/
.add_bg{ background: #1595BA; border-radius: 5px; padding:30px 20px; color: #fff; font-size: 14px;}
.add_bg ul{ list-style: none;}
.add_bg ul li a {
  color: #ffffff;
  font-size: 14px;
  line-height: 28px;
  transition: all 0.3s ease-out 0s;

}
.add_bg ul li{    line-height: 25px;}
.social-cont{list-style: none; float: left;}
.social-cont li{display: inline-block; margin: 20px 0px 0px;}
.social-cont li i{font-size: 21px !important; color: #fff; width: 24px; transition: all 0.3s ease-out 0s; -webkit-transition: all 0.3s ease-out 0s;
-moz-transition: all 0.3s ease-out 0s; -o-transition: all 0.3s ease-out 0s; -ms-transition: all 0.3s ease-out 0s; }
.social-cont li i:hover{ color: #fff;}
.cont-form{ margin-bottom: 8px}
.cont-form label{ width: 100px; float: left;}
.cont-form input{ width: 70%; background: #f5f5f5; padding: 10px; border: 1px solid #ccc; border-radius: 5px;}
.cont-form textarea{ width: 70%; background: #f5f5f5; padding: 10px; border: 1px solid #ccc; border-radius: 5px;}
.submit{ width: 100px !important; color: #fff!important; background: #DF7B2B!important; font-style: italic; padding: 5px!important; border: none!important;}
.submit:hover{background: #1595BA!important;}
.breadcrumb {  border-top: 1px solid #f5f5f5;}

/*add css*/

.product-plug .bx-wrapper .bx-viewport {background: rgba(0, 0, 0, 0) none repeat scroll 0 0;border: medium none;  box-shadow: none;left: 0;transform: translateZ(0px);}
.product-plug .bx-slid ul, .product-plug .bx-slid ul li {height: 100%; }
.product-plug .bx-slid .bx-wrapper .bx-viewport {height: 350px !important; }
.product-plug .bx-slid .bx-wrapper .bx-viewport img{  height: 100% !important; object-fit: cover;}
.product-plug .bx-wrapper .bx-controls-direction a {display: none;}
.product-plug .bxpager-slid .bx-wrapper .bx-controls-direction a {    display: block;  height: 100%;  margin-top: 0;  outline: 0 none;  position: absolute;  text-indent: -9999px;  top: 0;  width: 30px;  z-index: 9999;    background-color: #e0e0e0;}
.product-plug .bxpager-slid .bx-wrapper .bx-prev {  background: rgba(0, 0, 0, 0) url("../images/pro-left.png") no-repeat scroll 50% 50%;  left: -41px;}
.product-plug .bxpager-slid .bx-next {  background: rgba(0, 0, 0, 0) url("../images/pro-right.png") no-repeat scroll 50% 50%;  right: -42px;}
.product-plug .bxpager-slid{margin-top: 10px;}
.product-bx{margin-top: 10px;}
.product-plug h3 span {padding-left: 0;}

/*add css*/







/*15 july 2016*/

.reg-form{ margin-bottom: 8px}
.reg-form label{ width: 100%; float: left;}
.reg-form input{ width: 100%; background: #fff6ef; padding: 15px; border: 1px solid #d6b69c; border-radius: 5px;}
.reg-form textarea{ width: 70%; background: #f5f5f5; padding: 10px; border: 1px solid #ccc; border-radius: 5px;}
.register {
  background: #7ac0c8 none repeat scroll 0 0 !important;
  border: medium none !important;
  color: #fff !important;
    height: 50px;
  padding: 5px !important;
  width: 250px !important;
    font-weight: bold;
}
.reg-h1{font-weight: bold; color: #717171; padding-top: 0px; margin-top: 0; margin-bottom: 30px;}
.txt-r{ text-align: right;}
.star{ color: #df7b2b;}
.mt100{ margin-top: 100px;}
.mr10{margin-right: 10px!important;}
.login {
  background: #df7b2b none repeat scroll 0 0 !important;
  border: medium none !important;
  color: #fff !important;
    height: 50px;
  padding: 5px !important;
  width: 150px !important;
    font-weight: bold;
}
.login:hover {background: #7ac0c8!important;}
.register:hover {background: #df7b2b!important;}

/*27 july 2016*/

.detail-i {background: rgba(0, 0, 0, 0) url("../images/list-1-icon.png") no-repeat scroll center center; display: block; height: 30px; width: 40px;}
.detail-i:hover{ background: url("../images/list-1-icon-h.png") no-repeat center;}
.cart-i { background: rgba(0, 0, 0, 0) url("../images/list-2-icon.png") no-repeat scroll center center; display: block; height:30px; width: 40px;}
.cart-i:hover{ background: url("../images/list-2-icon-h.png") no-repeat center;}
.wish-i { background: rgba(0, 0, 0, 0) url("../images/list-3-icon.png") no-repeat scroll center center; display: block; height: 30px; width: 40px;}



/*dfgdfgdfg*/

.cat-list {
  margin: 0;
  padding: 0;
}
.cat-list p {
  background: #1595ba none repeat scroll 0 0;
  color: #ffffff;
  font-size: 17px !important;
  margin-bottom: 0;
  margin-right: 20px;
  margin-top: 15px;
  padding: 5px 10px;
}

.cat-list ul {
  border-top: 0px solid #ccc;
  list-style: outside none none;
  margin: 0 20px 0 0;
  padding: 0;
}
.cat-list ul li {
  width: 100%;
}
.cat-list ul li a {
  background: #fff6ef none repeat scroll 0 0 !important;
  display: block;
  margin-bottom: 1px;
  margin-right: 10px;
  padding: 3px 10px;
  width: 100%;
}
.cat-list ul li a:hover {
  background: #df7b2b none repeat scroll 0 0 !important;
  color: #fff;
  text-decoration: none;
}
.list-brand .col-sm-3 .product-lst {
  background: #fff none repeat scroll 0 0;
  border-radius: 5px;
  padding: 10px 0 0;
  transition: all 0.3s ease-out 0s;
}
.top_p a {
  color: #3f3f3f;
  cursor: pointer;
  text-decoration: none;
}
.list-brand .col-sm-3 p {
  color: #3f3f3f !important;
  font-size: 12px;
  font-weight: 400;
  padding: 0 10px;
}
img {
  vertical-align: middle;
}
.list-brand .col-sm-3 {
  border-radius: 5px;
  box-shadow: none !important;
  height: auto;
  margin: 0;
  padding: 10px;
  text-align: center;
  width: 25%;
}
.list-brand .col-sm-3 .product-lst:hover {
  box-shadow: 0 0 3px 0 #888888;
}
.list-brand .col-sm-3 .cate-list {
  background: #7ac0c8 none repeat scroll 0 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px;
}
.list-brand .col-sm-3 h6 a {
  color: #df7b2b !important;
  font-size: 12px;
  font-weight: 600;
}




.wish-i:hover{ background: url("../images/list-3-icon-h.png") no-repeat center;}


/*1 sep 2016 css start*/

.left-menu {  background: #f2f2f2 none repeat scroll 0 0;  border-radius: 5px;  height: auto;  padding: 10px;  width: 190px;  min-height: 500px; float: left;}
.left-menu a {  color: #676767;  display: block;  font-size: 13px;  padding: 14px 0 14px 30px;}
.left-menu a:hover{color: #000000; text-decoration: none; font-weight:bold!important;}
.left-menu > a:active{color: #000000; font-weight:bold !important;}
.left-menu > a:focus { color: #000000; font-weight:bold !important;}
.left-menu li {  border-bottom: 1px solid #e3e3e3;}
.left-menu > ul {  list-style: outside none none;  margin: 0;  padding: 0;}
.inner-head { color: #df7b2b;  font-size: 16px;  font-weight: bold;  padding-left: 10px;  padding-right: 20px; margin-top: 10px;}
.dashboard {
  background: #f2f2f2 none repeat scroll 0 0;
  border-radius: 5px;
  float: left;
  height: auto;
  min-height: 500px;
  padding: 10px;
  width: 87%;
  margin-left: 20px;
}
.txt-c{ text-align:center;}
.cw{ color:#fff;}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  border-top: 0px solid #ddd;
  line-height: 1.42857;
  padding: 8px;
  vertical-align: top;
}
.wbg{ background:#fff; height:25px;  padding-left:5px!important; padding-right:5px!important; }
.plr5 {
  padding-left: 5px;
  padding-right: 5px;
}
.min-w700{ min-width:700px;}
.dc1{ background-image:url(../images/dasboard-icon1.png); background-repeat:no-repeat; background-position:left center;}
.dc2{ background-image:url(../images/dasboard-icon2.png); background-repeat:no-repeat; background-position:left center;}
.dc3{ background-image:url(../images/dasboard-icon3.png); background-repeat:no-repeat; background-position:left center;}
.dc4{ background-image:url(../images/dasboard-icon4.png); background-repeat:no-repeat; background-position:left center;}
.dc5{ background-image:url(../images/dasboard-icon5.png); background-repeat:no-repeat; background-position:left center;}
.dc6{ background-image:url(../images/dasboard-icon6.png); background-repeat:no-repeat; background-position:left center;}
.dc7{ background-image:url(../images/dasboard-icon7.png); background-repeat:no-repeat; background-position:left center;}
.pla-ord{ background:#df7b2b; color:#fff; border:none; padding:10px; width:200px; border-radius:5px;}
.pla-ord:hover{ background:#7AC0C8;}
.cont-shop{ background:#fff; color:#7f7f7f; border:1px solid #ccc; padding:10px; width:200px; border-radius:5px;}
.cont-shop:hover{ background:#000000;}


.border-b{ border-bottom: 1px solid #ccc; padding-bottom: 10px;}
.ship-form label {  float: left;  margin-left: 35px;  margin-top: 30px;  width: 100px; font-weight: normal;}
.ship-form input {    background: #ffffff none repeat scroll 0 0; border: 1px solid #ccc;  border-radius: 5px; float: left; margin-top: 20px; padding: 10px; width: 300px;}
.ship-form select {  background: #fff url("../images/arrow-down1.png") no-repeat scroll 97% center;  border: 1px solid #ccc;  border-radius: 5px;  float: left;  margin-top: 20px;  width: 300px;
}.save {  background: #df7b2b none repeat scroll 0 0 !important;  border: medium none !important;  color: #fff !important;  font-style: italic;  padding: 5px !important;  width: 100px !important; float: left; font-style: normal; font-weight: bold;}
.back {  background: #7ac0c8 none repeat scroll 0 0 !important;  border: medium none !important;  color: #fff !important;  float: left;  font-style: normal;  font-weight: bold;  margin: 20px;  padding: 5px !important;  width: 100px !important;}
.save:hover {  background: #7ac0c8 none repeat scroll 0 0 !important; }
    .back:hover {  background: #df7b2b none repeat scroll 0 0 !important; }
/*.responsive-tabs-container .nav > li > a {*/
  /*background: #7ac0c8 none repeat scroll 0 0;*/
  /*border-radius: 5px 5px 0px 0px;*/
  /*color: #fff;*/
  /*display: block;*/
  /*font-weight: bold;*/
  /*margin-right: 5px;*/
  /*padding: 6px 15px;*/
  /*position: relative;*/
/*}*/

.pay-form input {  background: #f5f5f5 none repeat scroll 0 0;  border: 1px solid #ccc;  border-radius: 5px;  padding: 10px;  width: 70%;}
.pay-form label {  float: left;  width: 100px;}
.form-inline.mt20 {  width: 500px;}
.w50 {  width: 60% !important; float: left;}
.form-inline .form-control {   width: 110px;}
.paysubmit {  background: #df7b2b none repeat scroll 0 0 !important;  border: medium none !important;  color: #fff !important;  font-style: normal;  margin-left: 104px;  padding: 5px !important;  width: 75% !important;}
/*.responsive-tabs-container .form-inline .form-control {  width: 75%;  margin-right: 14px;}*/
/*.responsive-tabs-container label {  display: inline-block;  float: left;  font-weight: 700;  margin-bottom: 5px;  max-width: 100%;  padding-right: 15px;  padding-top: 7px;    width: 105px;}*/
.form-inline.mt20 .form-group{ width: 100%;}

/*.responsive-tabs-container .accordion-link  {  background: #7ac0c8 none repeat scroll 0 0!important;  border-radius: 0;  color: #fff!important;  display: block;  font-weight: bold;  margin-right: 5px;  padding: 6px 15px;  position: relative;}*/

.gaur{ width: 59%; margin: 0px auto;}
/*.responsive-tabs-container .nav-tabs {  border-bottom: 0px solid #ddd;}*/
.login-id{ font-size: 15px; margin: 20px 0px;}
.ad-add {  background: #7ac0c8 none repeat scroll 0 0 !important;  border: medium none !important;  color: #fff !important;  float: left;  font-style: normal; font-size:13px;  font-weight: normal;  margin: 20px;  padding: 5px !important;  width: 200px !important;}

    .ad-add:hover {  background: #df7b2b none repeat scroll 0 0 !important; }
.checkout {
  background: #f2f2f2 none repeat scroll 0 0;
  border-radius: 5px;
  height: auto;
  min-height: 555px;
  padding: 10px;
  width: 100%;
}
.about-head {
  color: #df7b2b;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  padding-right: 20px;
}

/* 6 oct 2016 css start*/



.panel {
  background-color: #f2f2f2;
  border: medium none;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
}


.pay-r{ margin-left: 0px; font-size: 13px;}
.form-inline1{ width: 620px;}

.form-inline .form-group { margin-right:10px; }


.form-control1 {
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555;
  display: block;
  float: left;
  font-size: 14px;
  height: 34px;
  margin-left: 10px;
  padding-bottom: 6px;
  margin-bottom:20px;
  padding-top: 6px;
  padding-left: 10px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 69%;
}
.l-new {
  float: left;
  width: 125px;
  padding-top: 4px;
}
.pay-btn {
  background: #df7b2b none repeat scroll 0 0 !important;
  border: medium none !important;
  color: #fff !important;
  font-style: normal;
  margin-left: 134px;
  padding: 5px !important;
  width: 69% !important;
}
.panel1 {
  background-color: #f2f2f2 none repeat scroll 0 0!important;
  border: none;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
}
.panel-default > .panel-heading {
  background-color:  #df7b2b;
  border-color: #ddd;
  border-radius: 10px;
  color: #fff;
}

.cvv {
  background: url("../images/card1.png") no-repeat scroll right center #fff;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border: medium none;
}
.panel-title > a {
  background: url("../images/accord-bg.png") no-repeat scroll center center #df7b2b;
  border-radius: 15px;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 8px;
  text-transform: uppercase;
  width: 100%;
  padding: 15px;
  text-decoration: none;
}


.panel-title > a:hover {
  display: block;
  width: 100%;
  text-decoration: none;

}
.panel-title > a span {
  background: #df7b2b none repeat scroll 0 0;
  padding: 5px 10px 0 0;
}
.panel-heading {  border-bottom:0px;  padding: 5px 15px;}
.form-inline1 .col-md-12 {  margin: 0;  padding: 0;}
.act {  color: #000000!important;  font-weight: bold !important;  text-decoration: none;}
.dc6 {  background-image: url("../images/cart-icon.jpg");  background-position: left center;  background-repeat: no-repeat;}
.dc7 {  background-image: url("../images/del-icon.jpg");  background-position: left center;  background-repeat: no-repeat;}
.dc8 {  background-image: url("../images/order-icon.jpg");  background-position: left center;  background-repeat: no-repeat;}
.dc6:hover {  background-image: url("../images/cart-icon-h.jpg");  background-position: left center;  background-repeat: no-repeat;}
.dc7:hover {  background-image: url("../images/del-icon-h.jpg");  background-position: left center;  background-repeat: no-repeat;}
.dc8:hover {  background-image: url("../images/order-icon-h.jpg");  background-position: left center;  background-repeat: no-repeat;}
.accord-plus {  background: rgba(0, 0, 0, 0) url("../images/accord-bg.png") no-repeat scroll right center;  display: block;  padding: 8px;  width: 100%;text-transform: uppercase;}
.accord-min { background:url("../images/accord-bg1.png") no-repeat scroll right center;}
.panel-group .panel {border-radius: 0;box-shadow: none;border-color: #df7b2b;	}
.panel-default > .panel-heading {padding: 0;border-radius: 0;color: #212121;background-color: #FAFAFA;border-color: #df7b2b;	}
.panel-title {font-size: 14px;	}
.more-less {float: right;color: #212121;	}
.panel-default > .panel-heading + .panel-collapse > .panel-body {		border-top-color: #EEEEEE;	}
.glyphicon {  background: #fff none repeat scroll 0 0;  border: 1px dashed #7f7f7f;  border-radius: 20px;  color: #7f7f7f;  display: inline-block;  font-family: Tahoma,Geneva,sans-serif;  font-size: 20px;  font-style: normal;  font-weight: bold;  line-height: 0.8;  margin-top: -11px;  padding: 8px;  position: relative;  top: 1px;}



.responsive-tabs-container label {  width: 126px;}
.responsive-tabs-container .nav > li > a {
  background: #c2c2c2 none repeat scroll 0 0;
  border: 1px solid #df7b2b;
  border-radius: 10px;
  color: #404040;
  display: block;
  font-size: 16px;
  font-weight: normal;
  margin-right: 11px;
  padding: 9px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 143px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #df7b2b;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-color: #ddd #ddd transparent;
  border-image: none;
  border-style: solid;
  border-width: 1px;
  color: #fff;
  cursor: default;
  padding: 9px 0 25px;
}
.tab-content {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #df7b2b;
  border-radius: 0 0 10px 10px;
  width: 87%;
  padding:10px;
}
.shipping-tabs .resp-tab-content, .product-tabs .resp-tab-content {
  background: #e2e2e2;
  border: none;
  padding: 10px 0 0 0;
}

.shipping-tabs .resp-tab-active, .product-tabs .resp-tab-active {
  padding: 11px 14px 11px !important;
}
.shipping-tabs .resp-tabs-list li::after, .shipping-tabs .resp-tabs-list li::before {
  height: 37px;
}
.shipping-tabs #shipping-horizontalTab .resp-tabs-list li {
  padding: 9px 2px!important;
}

.shipping-tabs .resp-tabs-list li{
  background: #fff none repeat scroll 0 0;
  color: #6f6f6f !important;
}

.shipping-tabs li.resp-tab-active{
  background: #7ac0c8!important;
  color: #fff!important;
}

.shipping-tabs .resp-tabs-list li::before{
  background-image: url(../images/amazone_l-white.png) !important;
}

.shipping-tabs .resp-tabs-list li::after{
  background-image: url(../images/amazone_r-white.png) !important;
}

.shipping-tabs li.resp-tab-active::before {
  background-image: url(../images/amazone_l.png) !important;
}

.shipping-tabs li.resp-tab-active::after {
  background-image: url(../images/amazone_r.png) !important;
}