html,
body {
    height: 100%;
    color: #000!important;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

.nav > li > form > button:hover {
    text-decoration: none;
}

table.detail-view tr th{
    width: 150px;
}
#side-menu .selected {
    background-color: #293846;
    color: white;
}

.breadcrumb-dashboard-bar {  border: 1px solid #f5f5f5;  margin-bottom: 14px!important;  margin-top: 16px!important;  padding: 9px!important;  width: 99.3%;  background: #f2f2f2 !important;  }
.color-782f4a {  background: #782f4a none repeat scroll 0 0 !important;  color: #fff;  }
.color-782f4a:hover{  color: #fff!important;  font-weight: bold!important;  }
.width-204{width:204px!important;}
.txt-c{border-bottom: 1px solid #fff;}
.order-shipping-summary th,.order-shipping-summary td,.order-summary-table th,.order-summary-table td{  padding:7px;  }
.order-summary-table tr,.order-shipping-summary tr{  border-bottom: 1px solid #ffffff;  }
.table-order-view-detail th {  text-align: right;  }
.margin-top-20{margin-top: 20px;}
tr.color-7ac0c8 th{  font-weight: normal;  }
.color-7ac0c8 {  background: #7ac0c8;  color:#fff;  }
a.cont-shop:hover {text-decoration: none; color: #fff;}
a.pla-ord:hover {text-decoration: none; color: #fff;}
.border-1{border: 1px solid #fff;}
.background-white{background: #fff!important;}
.card-cvv-img{  left: 541px;  z-index: 1000; height: 29px;  top: 3px;  }
button.paysubmit{margin-left: 143px!important;width: 103%!important;}
.width-98-percent{width: 98%!important;}
.padding-top-50{padding-top: 50px}
.font-133{font-size: 133px!important;}
.font-23{font-size: 23px!important;}
.text-color-7ac0c8{  color: #7ac0c8;}
.reg-form input {  padding: 0 0 0 11px!important;  }
h3.heading_bg label {
    font-size: 16px;
    font-weight: bold;
    color: #df7b2b;
    background: #fff;
    padding-right: 20px;
    padding-left: 10px;
}

.glyphicon-pencil,.glyphicon-eye-open,.glyphicon-trash,.glyphicon-envelope
{
    background-color: #1a7bb9;
    border-color: #1a7bb9;
    color: #FFFFFF;
    border-radius: 3px;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    touch-action: manipulation;
    cursor: pointer;
}
.badge{font-style: inherit;font-size: 13px;}
.navbar-header {
     display: inherit!important;
     float: none!important;
}