html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

.nav > li > form > button:hover {
    text-decoration: none;
}
.alert {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0px;
    z-index: 9999;
    text-align: center;
}
.search_wb .col-sm-3, .search_wb .col-sm-6,.search_wb .col-sm-9 {
    float: left;
    margin: 0;
    padding: 0;
}

.list-brand li p {
    color: #3f3f3f !important;
    font-size: 12px;
    font-weight: 400;
    padding: 0 7px;
    margin-top: 12px;
    margin-bottom: 8px;
    min-height: 61px;
}

.product-list-page .filters li.active a{
    color: #782f4a;
}

.left-side-bar .panel a.active{color: #df7b2b !important; font-weight: 600;}

/* 21 june*/
.cat-list{ margin: 0px; padding: 0px;}
.cat-list p{ font-size:20px !important; margin-top: 15px; }
.cat-list ul{ margin: 0px; padding: 0px; list-style: none; margin-right: 20px; border-top: 1px solid #ccc}
.cat-list ul li a{ line-height: 23px;}
.marg-l0{ margin-left: 0px!important;}
.margin-bottom-20{  margin-bottom: 20px;}
.margin-bottom-7{  margin-bottom: 7px;}
.filters a.current {color: #782f4a!important;}
.filters a {cursor: pointer;}

/* 22nd june */
.list-brand .col-sm-3 {  border-radius: 5px;  box-shadow: none !important;  height: auto;  margin: 0;  padding: 10px;  text-align: center;  width: 25%;  }
/* 23 june Me*/
.list-brand .col-sm-3 .product-lst{  background: #fff none repeat scroll 0 0;  border-radius: 5px;  padding: 10px 0 0; transition: all 0.3s ease-out 0s; -webkit-transition: all 0.3s ease-out 0s; -moz-transition: all 0.3s ease-out 0s; -o-transition: all 0.3s ease-out 0s; -ms-transition: all 0.3s ease-out 0s;}
.list-brand .col-sm-3 .product-lst:hover{ box-shadow: 0 0 3px 0 #888888;}
.list-brand .col-sm-3 .cate-list{background: #7ac0c8; padding: 5px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;}
.list-brand .col-sm-3 p{color: #3f3f3f !important; font-size: 12px; font-weight: 400; padding: 0 10px;}
.list-brand .col-sm-3 h6 {margin: 0; margin-bottom: 15px;}
.list-brand .col-sm-3 h6 a{color: #df7b2b !important; font-size: 12px; font-weight:600;}
.clear-margin {  margin-left: 0!important;  clear: both;  }

/* 24 june Me*/
.top_p li span {height: auto!important;}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {  -webkit-appearance: none;  margin: 0;  }
input[type="number"] {  -moz-appearance: textfield;  }
.left-pad-zero{padding-left: 0px!important;}
.right-pad-zero{padding-right: 0px!important;}
.inner-search.search_bg .search_btn{width: 60px!important;  height: 35px!important;}

/*27 june*/

.lbl{  -webkit-appearance: none;  appearance: none;  background-position: 92% 50%;  background-repeat: no-repeat;  border: 1px solid #ffffff;  color: #afafaf;  font-family: inherit;  font-size: 14px!important;  line-height: inherit;  margin: 0;   width: 100%;  border-radius: 5px;      text-align: center;  padding: 4px 0;background-color: #ededed;  border-radius: 5px;  color: #000 !important; text-transform: capitalize;}
/*.breadcrumb{padding: 0px!important;  font-size: 14px;}*/
/*.breadcrumb li a {  color: #fff!important;  }*/
.filter-btn{    margin-left: 31%;  width: 69%;}
.list-brand .col-sm-3 .cate-list {  padding: 0px!important;}
div.cate-list > ul li {  width: 65px!important;  border-right: 1px solid #48abb6;}
.cate-list > ul li a {  border: none!important;  }
.no-border{border: none!important;}
.container .inner-search.search_bg select {  padding-right: 20px!important;  }
.star-rating {
    background: url("../img/star.png") repeat-x scroll left 0 transparent;
    float: right;
    height: 16px;
    width: 80px;
}

.star-rating span {
    background: url("../img/star.png") repeat-x scroll left -32px transparent;
    float: left;
    height: 0;
    overflow: hidden;
    padding-top: 16px;
}
.how-much {
    padding: 10px 15px 19px!important;
}
.how-much1{
    margin-top: 19px;
}
.sign-section{
    margin-bottom: 10px;
}

.white-bg{
    background: #fff!important;
}
#bxslider-de ul li{text-align: center!important;}
.margin-top-25{margin-top: 25px;}
.resp-tab-content{word-wrap: break-word;}
.how-much .absolute {
    background: #000 none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    height: 100%;
    left: 0px;
    opacity: 0.3;
    padding-top: 6px;
    position: absolute;
    text-align: center;
    top: 0px;
    width: 100%;
    display: none;
    padding: 93px 0 0 0;
}

.loading {
    background: #000 none repeat scroll 0 0;
    color: #fff;
    font-size: 22px;
    height: 100%;
    opacity: 0.43;
    padding-top: 109px;
    position: absolute;
    top: 1px;
    width: 100%;
}
.position-relative{position: relative;}
.position-absolute{position: absolute;}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content p {
    text-align: center;
    margin-bottom: 0px!important;
}
a.no-hover:hover {
    text-decoration: none;
    cursor: inherit;
}
.padding-6{padding: 6px;}

/*.breadcrumb {*/
    /*border-top: 1px solid #f5f5f5;*/
/*}*/


/*25th july*/

.cat-list p {
    background: #1595ba none repeat scroll 0 0;
    color: #ffffff;
    font-size: 17px !important;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 0px;
    padding: 5px 10px;
}
.cat-list ul {
    border-top: 0 solid #ccc;
}
.cat-list ul li{
    width: 100%;
}
.cat-list ul li a{
    width: 100%;
    display: block;
    background: #fff6ef none repeat scroll 0 0 !important;
    margin-bottom: 1px;
    padding: 3px 10px;
    margin-right: 10px;
}
.cat-list ul li a:hover{ text-decoration: none; color: #fff; background: #df7b2b none repeat scroll 0 0 !important;}


/*25th july
.cat-list p {
    background: #1595ba none repeat scroll 0 0;
    color: #ffffff;
    font-size: 17px !important;
    margin-top: 15px;
    padding: 5px 10px;
}


.cat-list ul {
    border-top: 0 solid #ccc;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.cat-list ul a li {
  background: #fff6ef none repeat scroll 0 0 !important;
  margin-bottom: 1px;
  padding: 3px 10px;
}
.cat-list ul a:hover {
  color: #df7b2b;
  text-decoration: none !important;
}
.cat-list ul a:hover li {
  background: #df7b2b none repeat scroll 0 0 !important;
}
*/
.rakuten .breadcrumb li a,.yahoo .breadcrumb li a {
    color: #fff;
    text-decoration: none;
}
.rakuten .breadcrumb li,.yahoo .breadcrumb li {
    color: #fff;
    font-size: 13px;
}

.rakuten ol.breadcrumb,.yahoo ol.breadcrumb{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    border-top: medium none !important;
    color: #fff !important;
    padding: 0 !important;
}

.cate-list > ul {
    display: list-item!important;
}

.product-lst .cate-list ul li a {
    margin-left: 10px;
    margin-top: 2px;
}
.pagination li {
    float: none!important;
}
.product-lst p.product-list-product {
    text-align: center!important;
}
.left-menu a {
    padding: 14px 0 14px 10px!important;
}
.left-menu a i{
    margin-right: 6px;
}
.left-menu li.active a{
    font-weight: bold;
    color: #000;
}

.breadcrumb-dashboard-bar {  border: 1px solid #f5f5f5;  margin-bottom: 14px!important;  margin-top: 16px!important;  padding: 9px!important;  width: 99.3%;  background: #f2f2f2 !important;  }
.color-782f4a {  background: #782f4a none repeat scroll 0 0 !important;  color: #fff;  }
.color-782f4a:hover{  color: #fff!important;  font-weight: bold!important;  }
.width-204{width:204px!important;}
.txt-c{border-bottom: 1px solid #fff;}
.order-shipping-summary th,.order-shipping-summary td,.order-summary-table th,.order-summary-table td{  padding:7px;  }
.order-summary-table tr,.order-shipping-summary tr{  border-bottom: 1px solid #ffffff;  }
.table-order-view-detail th {  text-align: right;  }
.margin-top-20{margin-top: 20px;}
tr.color-7ac0c8 th{  font-weight: normal;  }
.color-7ac0c8 {  background: #7ac0c8!important;  color:#fff!important;  }
a.cont-shop:hover {text-decoration: none; color: #fff;}
a.pla-ord:hover {text-decoration: none; color: #fff;}
.border-1{border: 1px solid #fff;}
.background-white{background: #fff!important;}
.card-cvv-img{  left: 541px;  z-index: 1000; height: 29px;  top: 3px;  }
button.paysubmit{margin-left: 143px!important;width: 103%!important;}
.width-98-percent{width: 98%!important;}
.padding-top-50{padding-top: 50px}
.font-133{font-size: 133px!important;}
.font-23{font-size: 23px!important;}
.text-color-7ac0c8{  color: #7ac0c8;}
.reg-form input {  padding: 0 0 0 11px!important;  }
h3.heading_bg label {
    font-size: 16px;
    font-weight: bold;
    color: #df7b2b;
    background: #fff;
    padding-right: 20px;
    padding-left: 10px;
}
.header-bottom .button span {  font-size: 9px!important;  }
li.contact_detail label{  margin-top: 5px;  display: block; color: #767676!important; font-weight: normal;}
li.contact_detail label i{  font-size: 14px  }
.product-plug .bx-slid .bx-wrapper .bx-viewport img {margin: 0 auto;  object-fit: cover;  }
.c-select{color:#636363!important;}
.loading-extend-text , .loading-extend{
    background: #000 none repeat scroll 0 0;
    color: #fff;
    font-size: 22px;
    height: 100%;
    opacity: 0.43;
    padding-top: 109px;
    position: absolute;
    top: 1px;
    width: 100%;
    display: block;
    position: fixed;
    text-align: center;
    z-index: 99999;

}
.loading-text .fa{
    font-size: 51px;
    color: green;
}

.loading-text .fa-times{
    position: absolute;
    right: 6px;
    top: 3px;
    font-size: 17px!important;
    color: #000!important;
    cursor: pointer;
}

.loading-text .fa{
    font-size: 35px;
    color: green;
}
.loading-text,.loading-image {
    background: #fff none repeat scroll 0 0;
    left: 31%;
    margin: 0 auto;
    padding: 28px;
    position: fixed;
    text-align: center;
    top: 40%;
    width: 40%;
    z-index: 999999;
}
.product-load-more{
    font-size: 14px;
}
.product-bx{display: none;}
.top_p li {
    height: 229px;
    padding-top: 1px;
}

.product-lst div.product-list-product {
    margin: 3px 3px 4px;
    height: 35px;
    overflow: hidden;
}

.main-logo{margin-top: 10px;}
header .navbar-default .navbar-nav > li > a {
    padding: 10px 8px!important;
}
.footer-logo {
    text-align: right;
}
.footer-logo img {
    width: auto!important;
}
.welcome-name h6 ,.welcome-name h6 span{font-size: 14px!important;}
.text-uppercase{
    text-transform: uppercase!important;
}
.btn.padding-10-64{
    padding:10px 64px!important;
}
.color-df7b2b{
    background:#df7b2b!important;
    color:#fff!important;
}
.delete-icon{
    font-size: 17px!important;
    margin-top: 8px;
    color: #000;
}

.welcome-name h6 {
    margin: 5px 7px!important;
}

.header-bottom .button.tw::before {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #00ccff 0%, #00a3cc 100%) repeat scroll 0 0;
    content: "t";
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    text-transform: lowercase;
    padding: 3px;
}
.header-bottom .button.fb::before {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #4477cc 0%, #2f5fae 100%) repeat scroll 0 0;
    content: "f";
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    padding-top: 4px;
    position: absolute;
    text-transform: lowercase;
}
.header-bottom .button.in::before {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #dd4433 0%, #bd2f20 100%) repeat scroll 0 0;
    content: "I";
    font-size: 17px;
    font-weight: bold;
    text-transform: lowercase;
    padding: 3px;
}

.header-bottom .button.gp::before {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #dd4433 0%, #bd2f20 100%) repeat scroll 0 0;
    content: "g+";
    font-size: 17px;
    font-weight: bold;
    text-transform: lowercase;
    padding: 3px;
}

.table tbody td:first-child { width: 120%; }
.product-plug .bx-slid .bx-wrapper .bx-viewport li a img {
    /*height: auto !important;*/
    /*width:100% !important;*/
    margin: 0 auto;
    object-fit: cover;
}

.product-plug .bx-slid .bx-wrapper .bx-viewport li
{
    display: table-cell;
    vertical-align: middle;
}

.detail-i,.cart-i,.wish-i{
    width: auto!important;
}
.product-icon-listing .pull-left{
    width: 33%;
    border-right: 1px solid #48abb6;
}
a.amount{
    text-decoration: none;
    cursor: text;
}
.notranslate textarea.form-control{
    font-size: 11px;
}

div.how-much .select-box li:last-child {
    width: 10% ! important;
}
div.how-much .select-box li {
    width: 35% !important;
}

.table tbody td:first-child {
     width: auto!important;
}

.width-38-percent{
    width: 38%!important;
}
.width-32-percent{
    width: 32%!important;
}

.width-22-percent{
    width: 22%!important;
}

.width-25-percent{
    width: 25%!important;
}

.responsive-tabs-container .tab-content{
    width:100%;
}

.nav-tabs>li {
    margin-left: 9px;
}
.nav-tabs>li:first-child {
    margin-left: 0px;
}
.responsive-tabs-container .nav > li > a{
    margin-right:0px!important;
    width:167px!important;
}
ul.user-menu li {text-align: center;}
ul.user-menu li a{font-size: 16px;}
ul.user-menu li i{  display: block;  text-align: center;  }
.user-menu.nav > li > a:hover, .user-menu.nav > li > a:focus{background: inherit;}
.user-menu.nav>li>a:hover, .user-menu.nav>li>a:focus{background: inherit;}
.btn-cart1 {  width: auto;  }
textarea {  resize: none;padding: 12px;font-size: 15px;   width: 723px; border: none;  margin: 0px;
border-radius:0px!important;  }
.padding-left-0 {padding-left:0px!important;}
.padding-right-0 {padding-right:0px!important;}
.msg-div{margin-bottom: 23px;}
.updated-style {padding: 10px 12px 24px 15px;background: #e9c4a7;color: #fff;border-radius: 10px;position: relative;}
.date{  position: absolute;  bottom: 10px; right: 16px;  font-size: 11px;  top: 7px;  }
.avtar{background-color: #df7b2b;width: 46px;height: 46px;color: #fff;text-align: center;line-height: 46px;font-weight: bold;font-size: 22px;}
.message:before {content: "";display: block;position: absolute;width: 0;height: 0;left: 0;top: 0;border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;border-right: 7px solid #e9c4a7;margin: 15px 0 0 -6px;}
.my_message:before{border-right: 7px solid #6792B9;}
.left-menu a i {  font-size: 15px;  margin-bottom: 2px;  }
.left-menu li:last-child{border: none;}
.exchange_rate_label{margin-top: 8px;font-weight: normal;}
.exchange_rate_div{width: 142px;padding: 3px;margin-left: 10px;height: 34px;padding: 6px 0px;font-size: 13px;text-align: center;line-height: 1.42857143;
    color: #555;background-color: #fff;background-image: none;border: 1px solid #ccc;border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);box-shadow: inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;}

/* feb 11*/
.updated-style-1{padding: 3px 3px 3px 3px!important;color: #fff;border-radius: 10px;position: relative;}
.updated-style-1 textarea {border-radius: 6px !important;border: none;}
.updated-style-1 .form-group {margin-bottom: 0px;}
.updated-style-1  .help-block-error {position: absolute;  top: 24px;  left: 19px;}
#chat-msg{padding:7px 81px 7px 7px;}
.send-btn{position: absolute;top: 2px;right: 3px;padding:13px !important;  width: 80px;background:#6792B9!important;border:none!important;  border-bottom-left-radius: 8px! important;  border-top-left-radius: 8px! important;}
.left-menu {  padding: 0px!important;  text-align: center;}
.left-menu .inner-head{padding-right:0px;padding-left:0px;}
.left-menu ul li.active {    background: gainsboro;}
.table.table-striped.table-bordered th {  background: gainsboro; border-color: #fff!important;}
.table.table-striped.table-bordered th a{  color:#000;font-weight: bold;  }
.grid-view .fa{  font-size: 14px;  padding: 5px;  background: grey;  border-radius: 3px;  color: #fff;  }
.add-new-btn a{background: grey!important;}
form .btn-success{background: grey;}
.bg-3071a9{background:#e9c4a7;}
.bg-b1c6d8{background:#6792B9! important; }
.bg-e9c4a7{background:#DCC1A6! important; }
.admin_message{color:darkslategray;}
.dashboard{position: relative;}
.message-fixed-div{    position: absolute;  bottom: -22px;  width: 100%;  margin-left: 0px;  background: gainsboro;  padding: 17px 11px 16px 12px;}
.slimScrollDiv{height: 352px;  overflow: scroll;}

#yahoo-shopping-strip{background-color:#fcb134;}
#amazon-strip{background-color:#232f3e;}
#rakuten-strip{background-color: #c00000;}
#yahoo-auctions-strip{background: #ffda45;}
ul.payment-method-list li{list-style: none;padding: 9px;    border-bottom: 1px solid #dedede;}
ul.payment-method-list li input{    margin-right: 12px;}

table.payment-method-list tbody tr:last-child {
    background: none;
}
table.payment-method-list tr td input{    margin-right: 12px;}
table.payment-method-list tbody td:first-child {
    width: 35%!important;
    font-weight: bold;
}
.product-log li.rakuten-menu {background-image: url("../tnk/images/rakuten.png");}
.product-log li.amazon-menu {background-image:url(../tnk/images/amazone.png);}
.product-log li.yahoo-shopping-menu {  background-image: url("../tnk/images/yahoo-shopping.png");  }
.product-log li.yahoo-auction-menu{background-image: url("../tnk/images/yahoo-auction.png");}
.product-log li a{font-size:13px; color:#fff; text-transform:uppercase; text-decoration:none;}
ul.product-log li {width:166px;}
div.menu-tab-link{padding: 0px;width: 58%;}
div.search-menu-bar-tab{width:42%;}
.color-back{color: #333!important;}

li.yahoo-shopping-menu a,li.yahoo-auction-menu a{  color:#333;  }

.m_container.yahoo-auction{background: #ffda45;}
.yahoo-auction .cat-list p{background: #ffda45;}
.yahoo-auction .cat-list p a{color: #333!important;}
.yahoo-auction .cat-list ul li a:hover{background: #ffda45 none repeat scroll 0 0 !important;color: #333!important;}
li.yahoo-shopping-menu a,li.yahoo-auction-menu a{  color:#333;  }

.m_container.amazon ,.amazon-cat .cat-list p{  background-color: #232f3e!important;}
.amazon-cat .cat-list ul li a:hover{  background-color: #232f3e!important;}
/*.amazon .list-brand .col-sm-3 .cate-list {background-color: #232f3e!important;}*/


.yahoo, .yahoo-cat .cat-list p{  background-color: #fcb134!important;color: #333;}
.yahoo-cat .cat-list ul li a:hover{  background-color: #fcb134!important;  color: #333;}
.yahoo{background: #1595BA;  color: #333;  padding: 10px 0px;  font-size: 20px;}

.rakuten{background: #c00000; color: #fff; padding: 10px 0px; font-size: 20px;  }
.rakuten-cats .cat-list p,.rakuten-cats .cat-list ul li a:hover{  background-color: #c00000!important;}
.responsive-tabs-container .nav > li > a {  width: 265px!important;  }
.yahoo_auction_search_btn{height:33px!important;width:36px!important}.dashboard.checkout{height:auto;width:100%;margin-left:0;min-height:inherit}.left-menu.checkout-left-bar{height:auto;width:100%;float:left;min-height:inherit;margin-bottom:14px}.checkout-left-bar .nav>li{position:relative;display:inline;float:left;width:25%}.checkout-left-bar.left-menu li{border-right:1px solid #e3e3e3}.checkout-left-bar.left-menu li:last-child{border-right:none;border-bottom:1px solid #e3e3e3}
.checkout-header-top{  font-size: 15px;  border-bottom: 1px solid #e3e3e3;  padding-bottom: 17px;  margin-bottom: 0px;  padding-top: 10px;  }
.checkout table tr td {vertical-align: inherit!important;}
.product-page ul.seller-ul button.btn-post{padding: 13px;}
.right-side-search .form-control{text-align: center;}
.filter-btn {  width: 52%;  background: #df7b2b;  color: #fff; margin-left: 8%; }
#accordion > label {   font-size: 16px;  text-transform: capitalize;  font-style: normal;  font-weight: normal;  color: #333;  }
.product-list-page .filters li a, .product-list-page .filters li {  color: #333!important;  }
.top_p li{width:144px!important;}
.dashboard {margin-left: 6px!important;}
.container .dashboard{padding:0px;}
.dashboard .inner-head{background: #dcdcdc;padding: 14px 18px;border-top-left-radius: 5px;border-top-right-radius: 5px;color: #ee7907;font-size: 19px;font-weight: bold;margin-top: 0px;}
.left-menu ul li.active {background: grey;}
ul.user-menu li {text-align: center;background: #dcdcdc;}
.left-menu li.active a {color: #fff;}
.left-menu li {border-bottom: 1px solid #fff!important;}
.left-menu li:first-child {    border-top-left-radius: 5px;  border-top-right-radius: 5px;  }
ul.user-menu li a {color: #000;}
.add_fund_btn {display: block;background: #428bca;color: #fff;font-size: 11px;padding: 2px;border-radius: 4px;}
#add-to-cart select{color:#000;}
.exchange-rate{float:left;padding-right: 0px;margin-right: 0px;width: 28%;padding-left: 0px;margin-top: 4px;}
.main-menu{padding: 0px!important; margin-right: 0px;width: 61%!important;}
.language-div{    float: left;margin-left: 21px;margin-top: 11px;}
.home-banner{min-height:360px !important;}
.b_search_cont{top: 200px!important;}
@media (max-width:360px) {
    .banner-image,.exchange-rate{display: none;}
    .language-div{position: absolute;top: 11px;right: 14px;}
    div.search-menu-bar-tab,.product-log li:nth-child(3),ul.product-log li,div.menu-tab-link {width: 100%!important;}
    .product-log li.rakuten-menu{background-image: none;background-color: #BF0712;}
    .home-banner{min-height: 0px!important;}
    .b_search_cont {top: 10px!important;}
    .search_wb input.form-control{border: 1px solid!important;}
}

#signupform-language {
    width: 100%;
    background: #fff6ef;
    border: 1px solid #d6b69c;
    border-radius: 5px;
}
/** html .b_search_cont  { left:550px; }*/

/* IE7 */
/**:first-child+html .b_search_cont { left:550px; }*/

/* IE8 (Everything but IE 6,7) */
/*html>!**!body .b_search_cont { left:550px; }*/

/* Everything but IE6-8 */
/*:root *> .b_search_cont { left:550px; }*/

/* IE7 */
/**+html .b_search_cont { left:550px; }*/

/* IE 10+ */
/*@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {*/
    /*.b_search_cont { left:550px; }*/
/*}*/

.product-list-page .filters li {
    padding: 0 2px!important;
    font-size: 13px;
}

.listing-panel .well ul {
    padding-left: 0px!important;
}

.filter-result-count{
    width: 210px;text-align: center;padding-left: 0px;margin-top: 7px;padding-left: 51px;
}

section.product-page .how-much .select-box li:nth-child(3){
    width: 16%!important;
}
ul.inventory-options li{list-style: none;margin-bottom: 9px;}
.shipping-tabs .position-absolute.border{
    height: 3px;
    width: 100%;
    left: 0px;
    background: #7ac0c8 none repeat scroll 0 0;
    top: 77px;
}

.shipping-tabs{
    padding: 22px 14px;
}

.shipping-tabs .position-absolute-first-tab{
    padding: 22px 14px;
}

.shipping-tabs #shipping-horizontalTab .resp-tabs-list li, .shipping-tabs .tabs .first-tab{
    font-size: 13px;
    padding: 13px 15px!important;
}
.dashboard {
    min-height: 702px!important;
}
